{% extends 'base.html.twig' %}

{% block title %}Hello PatientController!{% endblock %}

{% block body %}
   {# i hate front end, making stuff look nice is fucking annoying #}
    <nav class="navbar navbar-dark bg-dark">
    </nav>
    <div class="box mx-auto">
        <div id="patientDetails" class="section">
            <div class="row">
                <div class="col">
                    Name : {{ patient.getName }}
                </div>
            </div>
            <div class="row">
                <div class="col">
                    Date of Birth : {{ patient.dobStr }}
                </div>
            </div>
            <div class="row">
                <div class="col">
                    Gender : {{ patient.getGender }}
                </div>
            </div>
            <div class="row">
                <div class="col">
                    Email : {{ patient.getEmail }}
                </div>
            </div>
            <div class="row">
                <div class="col">
                    Address : {{ patient.getAddress }}
                </div>
            </div>
            <div class="row">
                <div class="col">
                    GP Name : {{ patient.getGpName }}, GP Address : {{ patient.getGpAddress }}
                </div>
            </div>
        </div>
        <div class="section" id="patientQuestions">
            <h2>Patient Questions </h2>
            <div class="row">
                {% for i in data[0] %}
                   <div class="row data border-bottom">
                       <div class="col">
                           <label for>{{ i[0] }}</label>
                       </div>
                       {% if i[1] != null %}
                           <div class="col-sm-1">
                               <input type="checkbox" disabled checked>
                           </div>
                           <div class="col">
                               <p>{{ i[1] }}</p>
                           </div>
                       {% else %}
                           <div class="col-sm-1">
                               <input type="checkbox" disabled checked>
                           </div>
                           <div class="col">

                           </div>

                       {% endif %}
                   </div>
                {% endfor %}
            </div>
        </div>
        <div class="section" id="patientVaccineHistory">
            <h2>Vaccine History</h2>
            {% for key, value in data[1] %}
                <div class="row data border-bottom">
                    <div class="col">
                        <label for>{{ key }}</label>
                    </div>
                    <div class="col-sm-1">
                        <input type="checkbox" disabled checked id="{{ key }}">
                    </div>
                    <div class="col">
                        {% if value[1] != null %}
                            {{ value[1] }}
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}